<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    {% block css %}{% endblock %}
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>
     {% block main %} 
     <h2>Hello, koa.</h2>
     {% endblock %}
</body>
</html>